# Ignore build results
bin/
obj/
out/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider/VSCode stuff
.idea/
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/

# Ignore logs
*.log

# Ignore environment files
.env
